In [3]:
import pandas as pd
import spacy

In [4]:
df = pd.read_csv("fake_or_real_news.csv")
df.drop(columns=['Unnamed: 0', 'title'],inplace=True)
print(df.shape)
df.head()

(6335, 2)

                                                text label
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2  U.S. Secretary of State John F. Kerry said Mon...  REAL
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4  It's primary day in New York and front-runners...  REAL

In [5]:
df.label.value_counts()

REAL    3171
FAKE    3164
Name: label, dtype: int64

In [6]:
df['label_num'] = df['label'].map({'FAKE':0, 'REAL': 1})
df.head()

                                                text label  label_num
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE          0
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE          0
2  U.S. Secretary of State John F. Kerry said Mon...  REAL          1
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE          0
4  It's primary day in New York and front-runners...  REAL          1

In [7]:
nlp = spacy.load('en_core_web_lg')

In [8]:
df['vector'] = df['text'].apply(lambda x: nlp(x).vector)

In [9]:
df.head()

,text,label,label_num,vector
0,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE,0,"[-1.3751823, 1.3421849, -2.3666484, 0.12908486..."
1,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE,0,"[-1.7449774, 0.93961924, -2.024867, 0.42536643..."
2,U.S. Secretary of State John F. Kerry said Mon...,REAL,1,"[-1.9426425, 1.0062195, -1.9992222, 0.20469022..."
3,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE,0,"[-1.9125352, -0.1481846, -1.1432766, 0.6861217..."
4,It's primary day in New York and front-runners...,REAL,1,"[-1.8516092, 1.3163909, -2.1726575, 1.2286776,..."

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df.vector.values, df.label_num, test_size=0.2, random_state=42
)

In [11]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(5068,)
(5068,)
(1267,)
(1267,)

## KNN classification model

In [15]:
import warnings
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

warnings.filterwarnings('ignore')

In [16]:
clf = KNeighborsClassifier(n_neighbors = 4, metric = 'euclidean')

clf.fit(X_train_2d, y_train)

y_pred = clf.predict(X_test_2d)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.82      0.85       628
           1       0.84      0.89      0.86       639

    accuracy                           0.86      1267
   macro avg       0.86      0.86      0.86      1267
weighted avg       0.86      0.86      0.86      1267